extends layout

block content
  h1 어떤 족보를 찾고 계신가요?
  hr
  form.form-horizontal(action="/jokbo")
    .form-group
      label.control-label.col-md-2(for='search') 키워드로 검색
      .col-md-9
        input.form-control(type='text', id='search', name='search')
      button.btn.btn-default(type='submit') 검색
  table.table
    tr
      th Subject
      th Professor
      th Year
      th Semester
      th Download
    each jokbo in jokbos
      tr
        td= jokbo.subject
        td= jokbo.professor
        td= jokbo.year
        td= jokbo.semester
        td
          a(class="button" href="#")
            i(class="glyphicon glyphicon-file")
